#body1{
    background-color: yellowgreen;
}

#h1{
    color: lavender;
}
#address{

   background-color: lightskyblue;
   border-radius: 25px;
   padding-top: 50px;
   padding-bottom: 50px;
   padding-left: 50px;
    width: 235px;
    height: 180pxpx;
}
#div1{
    padding-left: 500px;
    padding-top: 200px;
    padding-bottom: 200px;
}
#h3{

    background-color: lightskyblue;
    border-radius: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
     width: 235px;
     height: 60px;
     font-size: 20px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}